# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Build/output folders
dist/
build/

# Docker
docker-compose.override.yml
*.dockerignore

# Helm / Kubernetes
charts/
*.tgz
*.yaml
*.yml

# IDE/editor
.vscode/